.backgroundImage {
    width: 100%;
    background-position: 100% -15%;
    background-size: contain;
}

@media only screen and (max-width: 1900px) {
    .backgroundImage {
        width: 100%;
        background-position: 0% 100%;
        background-size: 300px 100px;
    }
}