.bannerBack {
    height: 83vh;
    padding-top: 15vh;
    /* animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;  */
}

/* @keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
}  */

.bannerTitle {
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    text-align: left;
}

.bannerHighlight {
    /* font-family: Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    text-align: left; */
    color: #ad1457;
    /* animation: changeColor 20s linear infinite; */
}

.bannerDescription {
    margin-top: 25px;
    font-family: Helvetica, sans-serif;
    text-align: left;
    font-size: 15px;
    font-weight: lighter;
    width: 80%;
}

.bannerIconBox {
    margin-top: 100px;
    text-align: left;
}

.bannerIcon {
    color: #073763;
    animation: bounce ease-in 2s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(15px);
    }
}

/* @keyframes changeColor {
    0% {
        color: #ad1457;
    }
    20% {
        color: #e54a51;
    }
    40% {
        color: #d296b2;
    }
    60% {
        color: #63aec7;
    }
    80% {
        color: #166f8f;
    }
    
} */

.bannerIcon:hover {
    color: #ad1457;
    transition: 0.2s;
}