.homeCards {
    padding-top: 20px;
    padding-bottom: 20px;
}

.countUpArrow {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #073763;
}

.countUpLink {
    color:  #073763;
    font-size: 14px;
    font-weight: lighter;
    width: 65%;
}

.countUpLink:hover {
    text-decoration: none;
    color: #ad1457;
    transition: 0.5s;
}

.countUpDescription {
    font-size: 14px;
    font-weight: lighter;
    width: 65%;
}

.cardStyle {
    height: 55vh;
    box-shadow: 5px 5px 10px #afb0af;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 14px;
    background-color: #266f8b;
    border-color: #266f8b;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: 0.5s ease-in;
}

.cardStyle:hover {
    transform: translate3D(0,-1px,0) scale(1.05); /* move up slightly and zoom in */
    box-shadow: 5px 5px 14px #afb0af;
    transition: all .4s ease; /* zoom in */
    cursor: pointer;
}

.cardTitleStyle {
    height: 5vh;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
}

.smallCardStyle {
    height: 26vh;
    box-shadow: 5px 5px 10px #afb0af;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 12px;
    background-color: #e54a51;
    border-color: #e54a51;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: 0.5s ease-in;
}

.smallCardStyle:hover {
    transform: translate3D(0,-1px,0) scale(1.05); /* move up slightly and zoom in */
    box-shadow: 5px 5px 14px #afb0af;
    transition: all .4s ease; /* zoom in */
    cursor: pointer;
}

.smallCardStyleBot {
    height: 26vh;
    box-shadow: 5px 5px 10px #afb0af;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 12px;
    background-color: #e54a51;
    border-color: #e54a51;
    border-radius: 5px;
    color: white;
    margin-top: 3vh;
    cursor: pointer;
    transition: 0.5s ease-in;
}

.smallCardStyleBot:hover {
    transform: translate3D(0,-1px,0) scale(1.05); /* move up slightly and zoom in */
    box-shadow: 5px 5px 14px #afb0af;
    transition: all .4s ease; /* zoom in */
    cursor: pointer;
}

.readMore {
    padding-top: 20px;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 14px;
    margin: auto;
}

.readMoreLink {
    color: #073763;
    text-decoration: none;
}

.readMoreLink:hover {
    color: #ad1457;
    text-decoration: none;
    transition: 0.5s;
}