.bannerBack {
    height: 83vh;
    padding-top: 15vh;
}

.bannerTitle {
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    text-align: left;
}

.bannerHighlight {
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    text-align: left;
    color: #ad1457;
}

.bannerDescription {
    margin-top: 25px;
    font-family: Helvetica, sans-serif;
    text-align: left;
    font-size: 15px;
    font-weight: lighter;
    width: 80%;
}

.bannerIconBox {
    margin-top: 25vh;
    text-align: left;
}

.bannerIcon {
    color: #073763;
}

.bannerIcon:hover {
    color: #ad1457;
    transition: 0.2s;
}