.homeAbout {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Helvetica, sans-serif;
}

.countUpNumber {
    font-size: 65px;
    font-weight: bolder;
    color: #ad1457;
}

.countUpDescription {
    font-size: 14px;
    font-weight: lighter;
    width: 65%;
}

.countUpArrow {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #073763;
}

.countUpLink {
    color:  #073763;
    font-size: 14px;
    font-weight: lighter;
    width: 65%;
}

.countUpLink:hover {
    text-decoration: none;
    color: #ad1457;
    transition: 0.5s;
}

.pictureBuffer {
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    background-color: whitesmoke;
}


