.contactRow {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}

.contactButton {
    background-color: white;
    border-color: #ad1457;
    color: #ad1457;
}

.contactButton:hover {
    background-color: #ad1457;
    color: white;
    border-color: #ad1457;
}

.contactTitle {
    font-size: 20px;
    font-weight: bold;
    color: #555555;
}

.contactLink {
    color: #073763;
    text-decoration: none;
}

.contactLink:hover {
    text-decoration: none;
    color: #ad1457;
    transition: 0.5s;
}

.carouselContent {
    padding: 60px;
    background-color: #073763;
    height: 30vh;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}

@media only screen and (max-width: 600px) {
    .carouselContent {
      padding: 20px;
    }
  }

.carouselContainer {
    text-align: center;
    color: white;
}