.cardStyle {
    height: 50vh;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px #afb0af;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 13px;
    /* background-color: #266f8b;
    border-color: #266f8b; */
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: all .5s ease; /* back to normal */
}

.cardStyle:hover {
    transform: translate3D(0,-1px,0) scale(1.05); /* move up slightly and zoom in */
    box-shadow: 5px 5px 14px #afb0af;
    transition: all .4s ease; /* zoom in */
    cursor: pointer;
}

.cardTitleStyle {
    height: 4vh;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
}