.ant-tabs-nav {
    font-size: 30px;
}

.ant-tabs-nav-wrap {
    padding-right: 20px;
    
}

.ant-tabs-large > .ant-tabs-nav .ant-tabs-tab {
    font-size: 15px;
    text-align: center;
}

.ant-tabs-tab {
    background-color: white;
    box-shadow: 0px 0px 10px #bebebe;
    border-radius: 5px;

}

.ant-tabs-tab.ant-tabs-tab-active {
    background-color: #ad1457;
    color: white;
    transition: 1.0s;
    font-weight: lighter;
}

.ant-tabs-tab:hover {
    color: #ad1457;
    transition: 0.1s;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}

.ant-tabs-ink-bar {
    display: none;
}