.carouselContent {
    padding: 50px;
    height: 210px;
    background-color: #266f8b;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}

@media only screen and (max-width: 600px) {
    .carouselContent {
        padding: 25px;
        height: 260px;
        background-color: #266f8b;
        text-align: center;
        font-family: Helvetica, sans-serif;
        font-weight: lighter;
    }
  }

.carouselContainer {
    text-align: center;
    color: white;
}