.servicesWrapper {
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 40px;
    height: 100%;
    font-family: Helvetica, sans-serif;
    background-color: whitesmoke;
}

.servicesTotalTitle {
    font-size: 25px;
    font-weight: bolder;
    color: #3e3e3e;
}

.servicesSubtitle {
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 20px;
    color: #3e3e3e;
}

.servicesRow {
    margin-top: 30px;
    color: #3e3e3e;
}


.serviceTitle {
    font-weight: lighter;
    font-size: 15px;

}

.serviceImg {
    width: 45px;
}