.navElement {
    padding: 10px;
    background-color: transparent;
}

.navElementDark {
    background-color: whitesmoke;
}

.navlinkBox {
    margin-left: 30px;
    margin-right: 30px;
}

.navlink {
    text-decoration: none;
    font-size: large;
    font-weight: lighter;
    font-family: Helvetica, sans-serif;
    position: relative;
}

.navlinkLight {
    color: #333333;
}

.navlinkLight:hover {
    color: #ad1457;
    text-decoration: none;
    transition: 0.5s;
}

.navlinkDark {
    color: black;
}

.navlinkDark:hover {
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

.navlinkLight:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #ad1457;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.navlinkDark:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: black;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.navlink:hover:before {
    visibility: visible;
    width: 100%;
}