.questionWrapper {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

.question {
    font-weight: bolder;
    color: #ad1457;
    font-size: 15px;
}

.answer {
    margin-top: 10px;
    font-weight: lighter;
    font-size: 14px;
}

.workSample {
    margin-top: 30px;
    border-radius: 7px;
    border: none;
}

.readMore {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 15px;
    margin: auto;
}

.readMoreLink {
    color: #073763;
    text-decoration: none;
}

.readMoreLink:hover {
    color: #ad1457;
    text-decoration: none;
    transition: 0.5s;
}