.bg {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: Helvetica, sans-serif;
}

/* .containerPad {
    padding-left: 40px;
    padding-right: 40px;
} */

.infoSecSmallSub {
    font-weight: lighter;
    font-size: 15px;
    margin-bottom: 40px;
    margin-top: -15px;
}

.infoSecTitle {
    font-size: 15px;
    font-weight: bolder;
}

.infoSecDescription {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: lighter;
}

.infoSecRegTitle {
    font-size: 25px;
    font-weight: bolder;
}

.headerContainerLeft {
    width: 65%;
}

.headerContainerCenter {
    width: 65%;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .headerContainerCenter {
      width: 100%;
    }

    .headerContainerLeft {
        width: 100%;
    }
}

/* Alignment styling */
.leftTitle {
    text-align: left;
}

.centerTitle {
    text-align: center;
}

.rightTitle {
    text-align: right;
}

/* Styling for white background theme */
.whiteTheme {
    color: #3e3e3e;
}

.whiteThemeTitle {
    color: #3e3e3e;
}

/* Styling for gray background theme */
.grayTheme {
    background-color: whitesmoke;
    color: black;
}

.grayThemeTitle {
    color: #3e3e3e;
}
/* Styling for navy background theme */
.navyTheme {
    background-color: #e4f1f5;
    color: #555555;
}

.navyThemeTitle {
    color: #555555;
}

/* Styling for red background theme */
.redTheme {
    background-color: #ad1457;
    color: whitesmoke;
}

.redThemeTitle {
    color: whitesmoke;
}

