.timelineContainer {
    width: 90%;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .timelineContainer {
      width: 100%;
      margin: auto;
    }
}


.timelineBigTitle {
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    color: #555555
}

.timelineEvent {
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 15px;
}

.timelineTitle {
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 20px;
}

.buttonContainer {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.Button {
    width: 200px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    background-color:#ad1457;
    border-color:#ad1457;
    color: white;
}

.Button:hover {
    background-color: white;
    color:#ad1457;
    border-color: #ad1457;
    transition: 0.5s;
}

.virtualBanner {
    background-color: #073763;
}

.virtualBannerText {
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}