.linksWrapper {
    margin-top: 20px;
}

.link {
    font-weight: lighter;
    color: gray;
    font-size: 20px;
    transition: 0.5s ease-in;
}

.link:hover {
    color: #ad1457;
    margin-bottom: 4px;
    padding-left: 15px;
    transition: .5s ease-in;
    text-decoration: none;
}