.footerContainer {
    padding: 10vh;
}

.linkCatTitle {
    color: #ad1457;
    margin-bottom: 5px;
    font-family: Helvetica, sans-serif;
}

.linkCatLink {
    color: #555555;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}

.linkCatLink:hover {
    color: darkgray;
    text-decoration: none;
    transition: 0.5s;
}

.siteCustody {
    padding-top: 50px;
    padding-bottom: 0px;
    color: gray;
    text-align: center;
    font-size: small;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}