.contactButton {
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    margin-top: 20px;
    background-color:whitesmoke;
    border-color:whitesmoke;
    color: midnightblue;
}

.contactButton:hover {
    background-color: hsl(334, 33%, 46%);
    color: white;
    border-color: hsl(334, 33%, 46%);
    transition: 1.0s;
}