.scrolling-wrapper {
    background-color: whitesmoke;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.imgContainer {
    width: 600px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
}

.imgBox {
    border-radius: 7px;
}
