.bannerGen {
    font-family: Helvetica, sans-serif;
    padding-top: 50px;
    padding-bottom: 100px;
}

.bgGray {
    background-color: white;
    color: #ad1457
}

.bgRed {
    background-color: #ad1457;
    color: white;
}

.bannerTitleRed {
    font-weight: lighter;
    font-size: 15px;
    color: white;
    margin-bottom: 20px;
    letter-spacing: 1.5;
}

.bannerMsgRed {
    font-weight: lighter;
    font-size: 30px;
    color: white;
    line-height: 1.5;
}

.bannerTitleWhite {
    font-weight: lighter;
    font-size: 15px;
    color: gray;
    margin-bottom: 20px;
    letter-spacing: 1.5;
}

.bannerMsgWhite {
    font-weight: lighter;
    font-size: 30px;
    color: #555555;
    line-height: 1.5;
}

.buttonRed {
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    margin-top: 20px;
    background-color:whitesmoke;
    border-color:whitesmoke;
    color: midnightblue;
}

.buttonRed:hover {
    background-color: hsl(334, 33%, 46%);
    color: white;
    border-color: hsl(334, 33%, 46%);
    transition: 1.0s;
}